In [145]:
print "Hello World"

Hello World

In [6]:
print "Hello World

SyntaxError: EOL while scanning string literal (<ipython-input-6-e6fba6dc53dc>, line 1)

In [7]:
print 'Hello World'

Hello World

In [114]:
print("Hello World")

Hello World

# Assignments

In [11]:
phrase = "Hello World"
print phrase

Hello World

In [83]:
print Phrase

NameError: name 'Phrase' is not defined

In [255]:
9tofive = 'workshop'

SyntaxError: invalid syntax (<ipython-input-255-f576ad61f637>, line 1)

In [256]:
myvar@ = "Hello World"
print myvar@

SyntaxError: invalid syntax (<ipython-input-256-e33c9c9800d8>, line 1)

In [257]:
class = "Beginners Python Workshop"

SyntaxError: invalid syntax (<ipython-input-257-9de28baa0ac6>, line 1)

In [49]:
x = 4
print x

4

In [50]:
x * x

16

In [52]:
foo

NameError: name 'foo' is not defined

In [53]:
x = 4
x = 'hello'
x

'hello'

# Multiple Assignments

In [55]:
a,b = 1,2 
print a
print b

1
2

# Swapping values of 2 variables

In [57]:
a,b = 1,2
a,b = b,a
print a
print b

2
1

#What will be the output of the following programs ?

In [58]:
x = 4
y = x + 1
x = 2
print x, y

2 5

In [59]:
x , y = 2, 6
x , y = y, x + 2
print x, y

6 4

In [60]:
a, b = 2,3 
c, b = a, c + 1
print a, b, c

NameError: name 'c' is not defined

# Numbers

In [61]:
42

42

In [99]:
type(21)

int

In [250]:
zipcode = 02492

SyntaxError: invalid token (<ipython-input-250-46987990af52>, line 1)

In [254]:
zipcode = 02132
print type(zipcode)
print zipcode

<type 'int'>
1114

In [100]:
type(3.5)

float

In [74]:
9999999999999999999999999999999999999

9999999999999999999999999999999999999L

In [62]:
4 + 2

6

In [63]:
4.2 + 2.3

6.5

In [64]:
7 + 2

9

In [65]:
7 - 2

5

In [66]:
7 * 2

14

In [67]:
7/2

3

In [68]:
7 ** 2

49

In [69]:
7 % 2

1

In [70]:
7.0/2.0

3.5

In [71]:
7/2.0

3.5

In [72]:
7.0/2

3.5

# Combining Operators

In [73]:
7 + 2 + 5 - 3

11

In [76]:
2 * 3 + 4

10

In [77]:
4 + 2 * 3

10

In [78]:
(4  + 2 ) * 3

18

In [80]:
num1 = 15
num2= 75
num3 = 20
num4 = 10


e = (num1 + num2) * num3 / num4       
print "Value of (num1 + num2) * num3 / num4 is ",  e

e = ((num1 + num2) * num3) / num4     
print "Value of ((num1 + num2) * num3) / num4 is ",  e

e = (num1 + num2) * (num3 / num4);    
print "Value of (num1 + num2) * (num3 / num4) is ",  e

e = num1 + (num2 * num3) / num4;      
print "Value of num1 + (num2 * num3) / num4 is ",  e

Value of (num1 + num2) * num3 / num4 is  180
Value of ((num1 + num2) * num3) / num4 is  180
Value of (num1 + num2) * (num3 / num4) is  180
Value of num1 + (num2 * num3) / num4 is  165

# Built-in Modules and functions for numeric processing

In [82]:
import math
math.pi, math.e

(3.141592653589793, 2.718281828459045)

In [84]:
math.sin(2 * math.pi/180)

0.03489949670250097

In [85]:
math.sqrt(144)

12.0

In [89]:
pow(3, 6)

729

In [90]:
abs(-27)

27

In [88]:
int(9.98)

9

In [91]:
round(9.98)

10.0

In [92]:
round(9.45)

9.0

In [93]:
import random
random.random()

0.6092465029688736

In [95]:
random.randint(1,10)

1

In [98]:
random.choice(['Apple', 'Orange', 'Pineapple'])

'Pineapple'

# Boolean

In [115]:
type(True)

bool

In [116]:
type(False)

bool

In [117]:
0 == 0

True

In [118]:
0 == 1

False

In [119]:
0 != 1

True

In [120]:
"a" == "A"

False

In [121]:
1 > 0

True

In [122]:
-1 < 0

True

# Containment

In [123]:
"H" in "Hello"

True

In [124]:
"x" in "Hello"

False

In [125]:
"x" not in "abc"

True

#Pop Quiz

In [126]:
type(True)

bool

In [127]:
type("True")

str

In [128]:
type(true)

NameError: name 'true' is not defined

In [129]:
x = 4 #Point x to object 4. 
x == 4 #Check if x is equal to 4.

True

# Comments

In [9]:
#Welcome to Python. Our first python script.
print phrase
#The above print function prints the value assigned to the variable phrase

Hello World

In [10]:
print "#1"

#1

# Multi Line Comments

In [12]:
'''Welcome to the Beginners Python Workshop.
The Python programming language is not derived from the reptile Python. 
Guido Van Rossum named it after the British comedy TV series "Monty Python and the Holy Grail'''
print "Monty Python"

Monty Python

In [14]:
"""Welcome to the Beginners Python Workshop.
The Python programming language is not derived from the reptile Python. 
Guido Van Rossum named it after the British comedy TV series "Monty Python and the Holy Grail"""
print "Monty Python"

Monty Python

# Strings

In [102]:
myvar = "Zen of Python: import this"

In [39]:
myvar = Zen

NameError: name 'Zen' is not defined

In [103]:
type(myvar)

str

In [104]:
type("Hello")

str

In [17]:
longString = """She's got a smile that it seems to me
Reminds me of childhood memories
Where everything
Was as fresh as the bright blue sky
- Sweet Child O' Mine(Guns and Roses)"""
print longString

She's got a smile that it seems to me
Reminds me of childhood memories
Where everything
Was as fresh as the bright blue sky
- Sweet Child O' Mine(Guns and Roses)

In [29]:
longString = '''She's got a smile that it seems to me
Reminds me of childhood memories
Where everything
Was as fresh as the bright blue sky
- Sweet Child O' Mine(Guns and Roses)'''
print longString

She's got a smile that it seems to me
Reminds me of childhood memories
Where everything
Was as fresh as the bright blue sky
- Sweet Child O' Mine(Guns and Roses)

In [30]:
myLongstring = '''She's got a smile that it seems to me \
Reminds me of childhood memories \
Where everything \
Was as fresh as the bright blue sky \
- Sweet Child O' Mine(Guns and Roses)'''
print myLongstring

She's got a smile that it seems to me Reminds me of childhood memories Where everything Was as fresh as the bright blue sky - Sweet Child O' Mine(Guns and Roses)

In [31]:
print '"Spammers" are born in hell'

"Spammers" are born in hell

In [32]:
print "'Spammers' are born in hell"

'Spammers' are born in hell

# Find the length of a string

In [34]:
mystring = "abc"
length = len(mystring)
print length

3

# Concatenation

In [35]:
string1 = "foo"
string2 = "bar"
concat = string1 + string2
print concat

foobar

In [36]:
print "foo" + "bar"

foobar

In [37]:
print "foo "+ "bar"

foo bar

In [38]:
print "foo", "bar"

foo bar

In [105]:
print "foo" + " " + "bar"

foo bar

In [107]:
name = "foo"
print "Name of the variable is " + name

Name of the variable is foo

In [108]:
"foo" + 1

TypeError: cannot concatenate 'str' and 'int' objects

In [109]:
"foo" + "1"

'foo1'

In [110]:
"foo" + str(1)

'foo1'

In [111]:
name = "Swapneel"
"The length of my name is " + str(len(name))

'The length of my name is 8'

In [112]:
name = "Swapneel"
print name * 10

SwapneelSwapneelSwapneelSwapneelSwapneelSwapneelSwapneelSwapneelSwapneelSwapneel

In [113]:
h = "happy"
b = "birthday"
(h + b ) * 2

'happybirthdayhappybirthday'

# Subscripting or Indexing

In [40]:
month = "march"
print month[3] #Print the 3rd index of the string month
print month[0] #Print the 1st index of the string month
print month[0:3] #Print the range from the 1st index upto the 4th index, excluding the 4th.

c
m
mar

In [45]:
print month[:3] #Print the range from 1st index upto the 4th index, excluding the 4th. 
print month[4:] #Print the range from the 5th index upto the last, excluding the last index. 
print month[:] #Print the entire range.

mar
h
march

In [199]:
print month[-1]

h

In [200]:
print month[-3]

r

# Strings are immutable

In [46]:
mystring = "goal"
mystring[0] = "f"

TypeError: 'str' object does not support item assignment

In [48]:
mystring = "goal"
mystring = "f" + mystring[1:]
print mystring

foal

# Conditional Expressions

In [133]:
if 10 > 8:
    print "Ten is greater than either" #Note the indentation. Use 4 spaces to create indentation.

Ten is greater than either

In [134]:
if 0 > 2:
    print "Zero is greater than two"

In [135]:
if "foo" in "foobar":
    print "Happy Programming !"

Happy Programming !

In [136]:
iphone6 = 50000
nexus6 = 350000
if iphone6 > nexus6:
    print "iPhone 6 is expensive"
else:
    print "Nexus 6 is cheap."

Nexus 6 is cheap.

In [137]:
1 > 0 and 4 < 5

True

In [138]:
110 > 8 and "foo" in "foobar"

True

In [139]:
1 > 0 or "x" in "xmas"

True

In [140]:
"a" in "Apple" or "h" in "hello"

True

In [143]:
temp = 23
if temp > 20 and temp < 25:
    print "Summer is cool"
else:
    print "Heat is unbearable"

Summer is cool

In [144]:
sister = 15
brother = 15
if sister > brother:
    "Sister is elder"
elif sister == brother:
    print "Twins ?"
else:
    print "Brother is elder"

Twins ?

# Excercise

In [149]:
name = "Swapneel"
location = "Gogte Institute of Technology and Engineering, Udyambag"
time = "9AM"
print( name + ","  + " You are invited for a hands-on  workshop on the Python programming language" )
print "The venue is " + location + " and the workshop will start at " + time

Swapneel, You are invited for a hands-on  workshop on the Python programming language
The venue is Gogte Institute of Technology and Engineering, Udyambag and the workshop will start at 9AM

In [150]:
html = "Test message"
print "<b>" + html + "</b>"
print "<code>" + html + "</code>"
print "<h1>" + html + "</h1>"

<b>Test message</b>
<code>Test message</code>
<h1>Test message</h1>

In [151]:
today = "Saturday"
if today == "Saturday" or today == "Sunday":
    print "w00t, weekend is here"

w00t, weekend is here

In [152]:
ladybugs = 2600
trees = 20

if (ladybugs/trees) > 125:
    print "OK"
else:
    print "NOT OK"

OK

In [162]:
message1="Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex."
message2="Readability counts."
message3="Although never is often better than right now. If the implementation is hard to explain, it's a bad idea. If the implementation is easy to explain, it may be a good idea. Namespaces are one honking great idea -- let's do more of those!"

if len(message1) <= 140 and len(message2) <= 140:
    print message1, message2
elif len(message2) <= 140 and len(message3) <= 140:
    print message2, message3
elif len(message3) <= 140 and len(message1) <= 140:
    print message3, message1

Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex. Readability counts.

In [163]:
good_weather = False
on_vacation = True
no_bears = True
if good_weather == True and on_vacation == True and no_bears == True:
    print "camping"
else:
    print "staying home"

staying home

# String Objects

In [243]:
loudVoice = "Can you hear me yet?" 
print loudVoice.upper()

CAN YOU HEAR ME YET?

# Mix and match different objects

In [297]:
myNumber = "2"
print myNumber + myNumber

22

In [298]:
myNumber = "12" 
print myNumber * 3

121212

# Converting string objects

In [299]:
myNumber = "12"
intNumber = int(myNumber)
print intNumber * 3

36

In [300]:
myNumber = "12"
floatNumber = float(myNumber)
print floatNumber / 3

4.0

In [302]:
myNumber = "12.0"
print int(myNumber)

12.0

# Concatenating 2 different object types

In [303]:
print "1" + 1

TypeError: cannot concatenate 'str' and 'int' objects

In [304]:
print "1" + str(1)

11

# Find a string in a string

In [307]:
phrase = "the surprise is in here somewhere" 
print phrase.find("surprise")
print phrase.find("ejafjallajkull") 
print "the surprise is in here somewhere".find("surprise") 
"I put a string in your string".find("string")

4
-1
4

8

In [308]:
myStory = "I'm telling you the truth; he spoke nothing but the truth!" 

print myStory.replace("the truth", "lies")
myStory = myStory.replace("the truth", "lies")

I'm telling you lies; he spoke nothing but lies!

# User Input

In [244]:
userInput = raw_input("Hey, what's up? ") 
print "You said:", userInput

Hey, what's up? cheers
You said: cheers

In [245]:
response = raw_input("What should I shout? ") 
response = response.upper()print "Well, if you insist", response

What should I shout? test
Well, if you insist TEST

# Loops

In [320]:
n=1
while(n<5):
    print "n =", n
    n = n+1
print "Loop Over"

n = 1
n = 2
n = 3
n = 4
Loop Over

In [321]:
for n in range(1,10):
    print "n = ", n
print "Loop Over"

n =  1
n =  2
n =  3
n =  4
n =  5
n =  6
n =  7
n =  8
n =  9
Loop Over

In [323]:
for n in range(1,5):
    for j in ["a", "b", "c", "d" ]:
              print "n = ", n , "j = ", j

n =  1 j =  a
n =  1 j =  b
n =  1 j =  c
n =  1 j =  d
n =  2 j =  a
n =  2 j =  b
n =  2 j =  c
n =  2 j =  d
n =  3 j =  a
n =  3 j =  b
n =  3 j =  c
n =  3 j =  d
n =  4 j =  a
n =  4 j =  b
n =  4 j =  c
n =  4 j =  d

In [327]:
for i in range(0, 4): 
  if i == 2: 
        break 
        print i 
print "Finished with i =", i

Finished with i = 2

In [331]:
for i in range(0, 4): 
    if i == 2: 
        continue 
        print i 
print "Finished with i =", str(i)

Finished with i = 3

In [332]:
phrase = "it marks the show" 
for letter in phrase: 
      if letter == "X": 
          break 
      else:    
        print "There was no 'X' in the phrase"

There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase
There was no 'X' in the phrase

In [ ]:
tries = 0
while tries < 3: 
      password = raw_input("Password: ") 
      if password == "john": 
                   break 
      else: 
            tries = tries + 1 
else: 
              print "Suspicious activity. The authorities have been alerted."

# Lists

In [164]:
mylist = ["apple", "orange", "pineapple"]
print mylist

['apple', 'orange', 'pineapple']

In [240]:
colors = ["red", "green", "burnt sienna", "blue"]
scores = [10, 8, 9, -2, 9]
myList = ["one", 2, 3.0]

In [165]:
type(mylist)

list

In [241]:
colors.remove("red")
print colors

['green', 'burnt sienna', 'blue']

In [242]:
print colors.sort()

None

In [166]:
mynumbers = [26, -6, 23.9]
print mynumbers

[26, -6, 23.9]

In [167]:
len(mynumbers)

3

In [168]:
len(mylist)

3

In [169]:
26 in mynumbers

True

In [171]:
mynumbers[0]

26

In [172]:
mynumbers[7]

IndexError: list index out of range

In [173]:
mynumbers.append(45)

In [174]:
print mynumbers

[26, -6, 23.9, 45]

In [175]:
mylist.append("Mango")
print mylist

['apple', 'orange', 'pineapple', 'Mango']

In [178]:
empty_list = []
print empty_list

[]

In [179]:
fav_bands = ['Metallica', 'Disturbed', 'Guns n Roses']
print fav_bands

['Metallica', 'Disturbed', 'Guns n Roses']

In [180]:
fav_bands.append('Rolling Stones')
print fav_bands

['Metallica', 'Disturbed', 'Guns n Roses', 'Rolling Stones']

In [181]:
print fav_bands[0]

Metallica

In [183]:
fav_bands[0] = "The Beatles"
print fav_bands

['The Beatles', 'Disturbed', 'Guns n Roses', 'Rolling Stones']

In [186]:
dir(fav_bands)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [187]:
help(fav_bands)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(...)
 |      x.__add__(y) <==> x+y
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x
 |
 |  __delitem__(...)
 |      x.__delitem__(y) <==> del x[y]
 |
 |  __delslice__(...)
 |      x.__delslice__(i, j) <==> del x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __eq__(...)
 |      x.__eq__(y) <==> x==y
 |
 |  __ge__(...)
 |      x.__ge__(y) <==> x>=y
 |
 |  __getattribute__(...)
 |      x.__getattribute__('name') <==> x.name
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __getslice__(...)
 |      x.__getslice__(i, j) <==> x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __gt__(...)
 |      x.__gt__(y) <==> x>y
 |
 |  __iadd__(...)
 |      x.__iadd__(y) <==> x+=y
 |
 |  __imul__(...)
 |      x.__imul__(y) <==> x*=y
 |
 |  __init__(...)
 |      x.__init__(...) initializes x; see help(type(x)) for signature
 |
 |  __iter__(...)
 |      x.__iter__() <==> iter(x)
 |
 |  __le__(...)
 |      x.__le__(y) <==> x<=y
 |
 |  __len__(...)
 |      x.__len__() <==> len(x)
 |
 |  __lt__(...)
 |      x.__lt__(y) <==> x<y
 |
 |  __mul__(...)
 |      x.__mul__(n) <==> x*n
 |
 |  __ne__(...)
 |      x.__ne__(y) <==> x!=y
 |
 |  __repr__(...)
 |      x.__repr__() <==> repr(x)
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(...)
 |      x.__rmul__(n) <==> n*x
 |
 |  __setitem__(...)
 |      x.__setitem__(i, y) <==> x[i]=y
 |
 |  __setslice__(...)
 |      x.__setslice__(i, j, y) <==> x[i:j]=y
 |
 |      Use  of negative indices is not supported.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -- append object to end
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(cmp=None, key=None, reverse=False) -- stable sort *IN PLACE*;
 |      cmp(x, y) -> -1, 0, 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  __new__ = <built-in method __new__ of type object>
 |      T.__new__(S, ...) -> a new object with type S, a subtype of T

In [188]:
print fav_bands

['The Beatles', 'Disturbed', 'Guns n Roses', 'Rolling Stones']

In [189]:
len(fav_bands)

4

In [190]:
len(fav_bands) -1

3

In [193]:
fav_bands[len(fav_bands) -1]

'Rolling Stones'

In [195]:
fav_bands[-3]

'Disturbed'

In [196]:
fav_bands.pop()

'Rolling Stones'

In [197]:
print fav_bands

['The Beatles', 'Disturbed', 'Guns n Roses']

In [203]:
fruits = ['apples', 'oranges', 'jackfruit']
print fruits[-1]
print fruits[0]
fruits.append('mangoes')
print fruits
print len(fruits)
"watermelon" in fruits
"watermelon" not in fruits

jackfruit
apples
['apples', 'oranges', 'jackfruit', 'mangoes']
4

True

In [204]:
print fruits[0:2]

['apples', 'oranges']

In [205]:
print fruits[2:]

['jackfruit', 'mangoes']

In [206]:
print fruits[0:1]

['apples']

In [209]:
developers = ['Linus', 'Kenneth', 'Jessica', 'Matt' ]
print developers
for name in developers:
    print name

['Linus', 'Kenneth', 'Jessica', 'Matt']
Linus
Kenneth
Jessica
Matt

In [210]:
for name in developers:
    print "Hello " + name

Hello Linus
Hello Kenneth
Hello Jessica
Hello Matt

In [211]:
developers[0]

'Linus'

In [212]:
name = "Alice"
print name[0]

A

# Problem : Print all names with start with a vowel.

In [213]:
name[0] in "AEIOU"

True

In [214]:
name[0] in ['A', 'E', 'I', 'O', 'U']

True

In [218]:
for name in developers:
    if name[0] in "AEIOU":
    print name +  " starts with a vowel"

IndentationError: expected an indented block (<ipython-input-218-6d812cb3e2aa>, line 3)

In [221]:
developers = ['Linus', 'Kenneth', 'Jessica', 'Matt' ]
developers.append("Alice")
print developers
for name in developers:
    if name[0] in "AEIOU":
        print name + " starts with a vowel"

['Linus', 'Kenneth', 'Jessica', 'Matt', 'Alice']
Alice starts with a vowel

In [224]:
vowel_names = []
for name in developers:
    if name[0] in "AEIOU":
        vowel_names.append(name)

print vowel_names

['Alice']

In [229]:
total = 0
prices = [1.5, 24.5, 17.6, 18.9, 98.23]
for cost in prices:
      total = cost + total

print total
print sum(prices)

160.73
160.73

# Excercise

In [ ]:
groceryList = ["apples", "cereal", "coffee", "bread"]
print groceryList[0]
print groceryList[-1]

In [230]:
student = "Alice"
all_students = ['Henry', 'Beatrice', 'Wanda', 'Evan', 'Adam', 'Tanya', 'Alice', 'Sean']
if student in all_students:
    print "PRESENT"
else:
    print "ABSENT"

PRESENT

In [232]:
myList = ['Jessica', 'likes', 'ice cream']
myList.append("!")
print myList
print len(myList)

['Jessica', 'likes', 'ice cream', '!']
4

In [233]:
names = ['Adam', 'Tanya', 'Alice', 'Sean']
for name in names:
    print "Hello " + name

Hello Adam
Hello Tanya
Hello Alice
Hello Sean

In [234]:
words = ['zip', 'blip', 'croissant', 'toast', 'quip', 'quail', 'quetzal', 'quizzical']
for word in words:
    if word[0] == "q":
        print word

quip
quail
quetzal
quizzical

In [235]:
words = ["pizazz", "python", "zebra", "pizza"]
for word in words:
    if word[0] == "z":
        print word
    elif word[-1] == "z":
        print word

pizazz
zebra

In [236]:
honor_roll_count = 0
student_grades = ["A", "C", "B", "B", "C", "A", "F", "B", "B", "B", "C", "A"]
for grade in student_grades:
    if grade == "A" or grade == "B":
        honor_roll_count = honor_roll_count + 1
        
print honor_roll_count

8

In [246]:
spaces_count = 0
sentence = "It was the best of times, it was the worst of times"
for space in sentence:
    if ' ' in space:
        spaces_count = spaces_count +1
print spaces_count

11

In [247]:
sentence = "Finished files are the result of years of scientific study combined with the experience of years"
counter = 0
for word in sentence:
    if "F" in word or "f" in word:
        counter = counter + 1
print counter

6

In [248]:
headlines = ["Man Takes First Steps on the Moon", "Titanic Sinks Four Hours After Hitting Iceberg", "Dewey Defeats Truman","Greatest Crash in Wall Street's History"]

maximum_headline_length = 35
for headline in headlines:
    if len(headline) > maximum_headline_length:
        print headline

Titanic Sinks Four Hours After Hitting Iceberg
Greatest Crash in Wall Street's History

In [249]:
phrase_without_vowels = ""
phrase = "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away."
for word in phrase:
    if word not in "aeiou":
        phrase_without_vowels = phrase_without_vowels + word
        
print phrase_without_vowels

Prfctn s chvd, nt whn thr s nthng mr t dd, bt whn thr s nthng lft t tk wy.

# Tuples : Sequence of values.

In [275]:
myTuple = ("you'll", "never", "change", "me")
print myTuple

("you'll", 'never', 'change', 'me')

In [276]:
myTuple[2]

'change'

In [279]:
print myTuple.index("me")

3

In [280]:
type(myTuple)

tuple

In [281]:
coordinates = 4.21, 9.29
type(coordinates)

tuple

In [282]:
t1 = 'a',

In [284]:
type(t1)

tuple

In [285]:
t = ('a', 'b', 'c', 'd', 'e')
print t[0]

a

In [286]:
print t[0:3]

('a', 'b', 'c')

In [287]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [288]:
t = ('A',)  + t[1:]
print t

('A', 'b', 'c', 'd', 'e')

In [289]:
a,b = b, a

In [292]:
email = 'swapneel@brainattic.in'
uname, domain = email.split('@')
print uname 
print domain

swapneel
brainattic.in

# Dictionaries

In [293]:
phonebook = {"Jenny": "867-5309", "Mike Jones": "281-330-8004",
  "Destiny": "900-783-3369"}
print phonebook
phonebook["Jenny"]

{'Mike Jones': '281-330-8004', 'Jenny': '867-5309', 'Destiny': '900-783-3369'}

'867-5309'

In [294]:
phonebook["Obama"] = "202-456-1414" 
print phonebook 
phonebook["Jenny"] = "555-0199" 
print phonebook

{'Mike Jones': '281-330-8004', 'Obama': '202-456-1414', 'Jenny': '867-5309', 'Destiny': '900-783-3369'}
{'Mike Jones': '281-330-8004', 'Obama': '202-456-1414', 'Jenny': '555-0199', 'Destiny': '900-783-3369'}

In [295]:
del(phonebook["Destiny"])
print phonebook
print phonebook.keys()

{'Mike Jones': '281-330-8004', 'Obama': '202-456-1414', 'Jenny': '555-0199'}
['Mike Jones', 'Obama', 'Jenny']

In [296]:
for contactName in phonebook:
    print contactName, phonebook[contactName]

Mike Jones 281-330-8004
Obama 202-456-1414
Jenny 555-0199

# Functions

In [258]:
def say_hello(): 
    print "Hello World"
say_hello()

Hello World

In [260]:
def square(number):
    sqr_num = number * number 
    return sqr_num

In [261]:
square(4)

16

In [263]:
def square(number): 
    sqr_num = number ** 2 
    return sqr_num 
    
input_num = 5
output_num = square(input_num)
print output_num

25

In [264]:
input_num = 5
output_num = square(input_num) 
print output_num
def square(number): 
    sqr_num = number * number 
    return sqr_num

25

In [265]:
def returnDifference(num1, num2): 
    return num1 - num2 

returnDifference(3, 5)

-2

In [316]:
x = 50
def func(x):
    print 'x is', x
    x = 2 
    print 'Changed local x to', x
    
func(x)
print 'x is still', x

x is 50
Changed local x to 2
x is still 50

In [319]:
x = 50
def func(x):
    global x
    print 'x is', x
    x = 2 
    print 'Changed local x to', x
    
func(x)
print 'Value of x is', x

SyntaxError: name 'x' is local and global (<ipython-input-319-6158d6b4efd5>, line 2)

# Docstrings

In [267]:
def returnDifference(n1, n2):
    """Return the difference between two numbers. Subtracts n2 from n1."""
    return n1 - n2

In [268]:
help(returnDifference)

Help on function returnDifference in module __main__:

returnDifference(n1, n2)
    Return the difference between two numbers. Subtracts n2 from n1.

In [271]:
def cube(num):
    return num ** 2

In [272]:
cube(3)

9

In [273]:
def multiply(num1, num2):
    return num1 * num2

In [274]:
multiply(4,9)

36

# Catching Errors

In [ ]:
a = int("not a number")
print a

In [ ]:
try:
     number = int(raw_input("Enter an integer:" ))
except ValueError:
     print "That was not an integer"

# Working with files

In [ ]:
myInputFile = open("mycode.txt", "r") 
print myInputFile.readlines() 
myInputFile.close()

In [ ]:
myInputFile = open("mypasswd", "r") 
for line in myInputFile.readlines(): 
    print line, myInputFile.close()

In [ ]:
myOutputFile = open("hello.txt", "w")
myOutputFile.writelines("This is my first file.")
myOutputFile.close()
myOutputFile = open("hello.txt", "r")
print myOutputFile.readlines()

In [ ]:
myOutputFile = open("hello.txt", "w")
linesToWrite = ["This is my file.", "\nThere are many like it,", "\nbut this one is mine."]
myOutputFile.writelines(linesToWrite)
myOutputFile.close()

In [ ]:
myOutputFile = open("hello.txt", "a")
nextLine = [\nAppending content!"]
myOutputFile.writelines(nextLine)
myOutputFile.close()